# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.

[s3e]
SplashscreenBkR=0
SplashscreenBkG=0
SplashscreenBkB=0
SplashScreenMinTime=4000
SplashScreenFile=sprite.jpg
SplashScreenWidth=480
SplashScreenHeight=320
DispFixRot=FixedLandscape

#else defaults to 960x640/800x480, support 960x640 1024x768	1280x800 1366x768 ,800x480 800x600 960x540 854x480 1024x600 and more
{}
memSize = 70108864
MemSizeDebug = 70108864

{[S3E]DispAreaQ < 384000} #less than 800x480 defaults to 480x320, support 480x320	640x360 and more
memSize = 55108864
MemSizeDebug = 55108864

{[S3E]DispAreaQ >= 786432} #greater than 1024x768 for high density future tabs
memSize = 205108864
MemSizeDebug = 205108864


[GX]
{}
DataCacheSize=65536 
Rasterisation=HW or SW
#DisplayFrameRate=1

#[GL]
#EGL_SAMPLE_BUFFERS=1
#EGL_SAMPLES=4 

[GxFont]
{}
CacheTextureMaxSize=2048

[Util]
#MemoryBreakpoint=2356
#MemoryBreakpoint=207
#MemoryBreakpoint=809

[TRACE]
#FACEBOOK=1
#FACEBOOK_VERBOSE=1
